.errmessage{
  text-align: left;
  width: 1800px;
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.notification {
  text-align: left;
  width: 1800px;
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 1rem;
} 

